<div class="container">
    <h1>Fitness Quotes</h1>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-4" id="one">
                <div class="row" id="lol">
                    <h3>Publish Quotes</h3>
                </div>
                <hr>

                <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
                <!--collects user input and triggers an addition of content from addNewQuote event -->
            </div>

            <div class="row">
                <div class="col-md-8" id="Description">
                    <div *ngFor='let quote of quotes;let i = index'>
                        <div>
                            <h4 id={{i}} appHighlight>{{quote.name}} Submitted on {{quote.completeDate|date|uppercase}}
                            </h4>
                            <div class="col-4" id="small">
                                <p>Submitted by {{quote.submitter}}, {{quote.completeDate|dateCount}} days ago</p>
                                <!--calls and displays date count pipe results-->
                            </div>
                            <button (click)='toggleDetails(i)'
                                class="btn btn-primary">{{showDescription? "Hide": "Show"}} Quote Details</button>
                            <div class="col-4">

                                <p>
                                    <app-vote></app-vote>
                                </p>
                                <!-- to show votes from vote app component + deleteQuote form dq details-->
                            </div>
                        </div>

                        <div *ngIf='quote.showDescription'>
                            <app-quote-detail [quote]='quote' (isComplete)='quoteDelete($event,i)'></app-quote-detail>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>